<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- style %>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <%- include('_header' ); -%>


    <%- body%>
     <div class="container mt-4">
        <%- include('RegisterModal') %>
      </div>
    <%- script %>
</body>
</html>